html,
body,
#app {
  height: 100%;
  background: transparent;
}

.no-entry {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-entry ion-icon {
  margin-bottom: 5px;
}
.no-entry ion-label {
  color: var(--ion-color-medium-tint);
}

ion-content .edit-toolbar {
  display: flex;
  justify-content: space-evenly;
}

.div-toolbar {
  position: absolute;
  bottom: 20px;
  width: 100vw;
}

ion-icon {
  font-size: 30px;
  color: var(--ion-color-medium-tint);
}

.footer{
  display: flex;
  justify-content: space-around;
  background-color: var(--ion-color-light-tint);
}

.footer-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 12px;
}

.footer-entry ion-label {
  color: var(--ion-color-medium-tint);
}

.active {
  color: var(--ion-color-primary) !important;
  font-weight: 500 !important;
}

.option-icon {
  color: var(--ion-color-light);
}